.ProseMirror {
	max-width: 1040px;
	font-family: Inter, serif;
}

.ProseMirror-focused {
	outline: none;
}

.tiptap ol {
	list-style: decimal;
	padding-left: 16px;
}

.tiptap ul {
	list-style: disc;
	padding-left: 16px;
}

.tiptap li {
	margin-top: 0 !important;
}

.tiptap *:not(:first-child) {
	margin-top: 16px;
}

.tiptap h2 {
	font-size: 24px;
	font-weight: bold;
}

.tiptap h3 {
	font-size: 18px;
	font-weight: bold;
}

.tiptap p {
	min-height: 1em;
	margin: 0;
}

.tiptap img {
	max-width: 100%;
	height: auto;
	user-select: none;
}

.resizable-image-wrapper {
	position: relative;
}

.resize-handle {
	border-radius: 50%;
}

.resize-handle:hover {
	opacity: 1 !important;
}


.tiptap p:after { content: ""; display: table; clear: both; }